body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header {
    position: absolute;
    top: 2%;
    left: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    gap: 2%;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#logo-button {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#logo-button:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.letter-box {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    margin: 5px;
    font-size: 2rem;
    font-weight: bold;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--text-color);
}

.filled-box {
    border: 2px solid var(--filled-border-color);
}

.letter-row {
    display: flex;
}

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard-row {
    display: flex;
    margin-bottom: 8px;
}

.keyboard-button {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    margin: 0 4px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--key-background);
    border: none;
    border-radius: 5px;
    color: var(--key-text-color);
}

.keyboard-button:hover {
    background-color: var(--key-background-hover);
}

.keyboard-button:active {
    background-color: var(--key-background-active);
}

/* Dropdown */
.dropbtn {
    background-color: var(--key-background);
    color: var(--key-text-color);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--key-background);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: var(--key-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: var(--key-background-hover);
}

.dropdown:hover .dropdown-content {
    display: block;
}

:root {
    --background-color: #121213;
    --text-color: #d7dadc;
    --border-color: #3a3a3c;
    --filled-border-color: #565758;
    --key-background: #818384;
    --key-text-color: #ffffff;
    --key-background-hover: #9aa0a6;
    --key-background-active: #b9b9b9;
}

body.light-theme {
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #cccccc;
    --filled-border-color: #aaaaaa;
    --key-background: #dddddd;
    --key-text-color: #000000;
    --key-background-hover: #bbbbbb;
    --key-background-active: #999999;
}

body.dark-theme {
    --background-color: #121213;
    --text-color: #d7dadc;
    --border-color: #3a3a3c;
    --filled-border-color: #565758;
    --key-background: #818384;
    --key-text-color: #ffffff;
    --key-background-hover: #9aa0a6;
    --key-background-active: #b9b9b9;
}

body.taro-theme {
    --background-color: #b3baff;
    --text-color: #130f1ac6;
    --border-color: #6f6c91;
    --filled-border-color: #130f1a;
    --key-background: #dddddd72;
    --key-text-color: #130f1a;
    --key-background-hover: #6f6c91;
    --key-background-active: #130f1a;
}

body.pulse-theme {
    --background-color: #1e1e32;
    --text-color: #55398e;
    --border-color: #3d3d66;
    --filled-border-color: #7a52cc;
    --key-background: #3d3d66d4;
    --key-text-color: #784fca;
    --key-background-hover: #5c5c8a;
    --key-background-active: #7a52cc;
}

body.beach-theme {
    --background-color: #eae4cf;
    --text-color: #36373a;
    --border-color: #ada998;
    --filled-border-color: #9abbcd;
    --key-background: #ada998;
    --key-text-color: #36373a;
    --key-background-hover: #9abbcd;
    --key-background-active: #646669;
}

footer {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    z-index: 1000; /* Ensure the footer stays on top */
}

#solve-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffdd57;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #130f1a;
    position: absolute;
    left: 2%;
    bottom: 2%;
}

#solve-button:hover {
    background-color: #ffc107;
}

.easter-egg {
    font-size: 1rem;
    color: var(--text-color);
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    right: 1%;
    bottom: 3%;
    transform: translateX(-50%);
}

/* Media queries for additional responsiveness */
@media (max-width: 600px) {
    header {
        flex-direction: row;
        padding: 0.5rem;
    }

    #logo-button {
        font-size: 1rem;
        padding: 0.25rem;
    }

    .letter-box {
        font-size: rem;
        height: 2.5rem;
        width: 2.5rem;
        margin: 0.25rem;
    }

    .keyboard-button {
        font-size: 0.8rem;
        padding: 0.5rem;
        max-width: 30rem;
        margin: 0.1rem;
    }

    .keyboard-button:nth-last-child(1), 
    .keyboard-button:nth-last-child(2) {
        max-width: 30rem;
    }

    #solve-button {
        font-size: 0.5rem;
        padding: 0.4rem 0.8rem;
    }

    .easter-egg {
        font-size: 0.5rem;
    }

    .dropdown-content a {
        padding: 0.4rem;
        font-size: 0.5rem;
        text-align: center;
    }

    .dropdown-content {
        box-shadow: 0px 4px 4px rgba(0,0,0,0.1); /* Adjust shadow for smaller screens */
    }

    .dropbtn {
        font-size: 0.5rem;
        padding: 0.4rem;
    }

    /* Inside the existing media query @media (max-width: 600px) */
    .dropdown-content {
        width: 100%; /* Make dropdown content the same width as the parent button */
        left: 0; /* Align to the left edge of the button */
        box-sizing: border-box; /* Ensure padding is included in the width */
    }

}